        <div id="container">
            <div class="mar10">
                <div class="w750">
                    これは管理者専用ですー。
                    <p class="mar-t">
                        <a href="[%- c.req.referer -%]">戻る</a>
                    </p>
                </div>
            </div>
        </div>
