            <div id="footer">
                <address>created by <a href="http://hirafoo.net/" target="_blank">hirafoo</a></address>
                <address>view support by waji</address>
                <address>tech support by <a rel="nofollow" href="http://d.hatena.ne.jp/kamipo/" target="_blank">kamipo</a></address>
                <br />
                <address>powered by <a rel="nofollow" href="http://www.catalystframework.org/" target="_blank">Catalyst</a></address>
            </div>
