<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/css/set.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="ニコニコ動画,ニコ動,ダウンロード,保存">
        <meta name="verify-v1" content="DBpvslF7s9FrudIzAYwcefzCb0GGF+zbnf30K3zUluQ=" />
        <meta name="y_key" content="7a93cc2cd3eac064" />
        <title>[% app_name %] - [% page_title ? page_title : base_title %]</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header" >
                <div class="left">
                    <a href="/" title="Niget system front end."><img src="/images/f_logo.gif"></a>
                </div>
                <div>
                    <script type="text/javascript"><!--
                        google_ad_client = "pub-1525936459565040";
                        /* 468x60, 作成済み 09/10/08 */
                        google_ad_slot = "8010369965";
                        google_ad_width = 468;
                        google_ad_height = 60;
                        //-->
                    </script>
                    <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
            </div>
[% INCLUDE sidebar.tt -%]
[% content -%]
[% INCLUDE footer.tt -%]
        </div>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-3287586-8");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>

