                <div class="mar10">
                    <div align="center">
                        <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/[% nico_id %]"></script>
                    </div>
                </div>
